body {
	margin:0;
	padding:0;
	font-family:Arial, Helvetica, sans-serif;
}

a {
	text-decoration: none;
	color:#c0c0c0;
}

a:hover {
	color: #ffffff;
}

a:active {
	color: green;
}

li {
	padding: 0px;
	list-style: none;
	font-family:Arial;
}

ul{
	text-align:center;
}

.current-a{
	color:#ffffff;
}

.button:hover{
	background:red;
	color:#ffffff;
}


/*a:visited{
	color:black;
}*/

body {
	background-color: #ffffff;
	color: #000000;
	font-size: 18px;
	font-weight: normal;
	/*Same as above*/
	/*font: normal 16px Arial, Helvetica, sans-serif;*/
	line-height: 1.6em;
}

.container h1 {
		font-weight: bold;
		font-size: 16px;
}

.box {
	background-color: none;
	border-left: 5px #f96b8e solid;
	padding: 5px;
	margin-bottom:10px;
	font-size: 10px;
}
.box h1{
	font-weight:bold;
	font-size:16px;
}

.my-form{
	padding:20px;
}

.my-form .form-group{
	padding-bottom:15px;
}

.my-form label{
	display:block;
}

.my-form input[type="text"], .my-form textarea{
	padding:8px;
	width:100%;
}

.block{
	margin:0px;
	padding: 0px;
	background-color:#ffffff;
}

.footer-block {
		display: flex;
		align-items: center;
		justify-content: center;
	width: 33vh;
	vertical-align: middle;
	text-align: center;
	margin: auto;
	display: inline-block;
}

#main-block {
	padding: 0px;
	
}

#boldStuff{
	font-size:20px;
	text-align:center;
}
#main-footer {
	text-align: center;
	background-color: #cccccc;
	bottom: 0px;
}

#main-footer img {
	width:60px;
}
	
#sidebar {
	color: #ffffff;
	padding: 0px;
}

#sidebar li{
	display: flex;
	align-items: center;
	justify-content: center;
height: 33vh;
vertical-align: middle;
text-align: center;
margin: auto;
}

#sidebar ul{
	background-image: linear-gradient(#f96b8e,#db67e4, #827dfd);
	height: 100vh;
	width: inherit;
}

.link-button {
	color: #e0e0e0;
	background-color: none;
	padding: 10%;
	margin-left: 25%;
	top: 0%;
	width: 50%;
	text-align: center;
}
.current-link-button {
	color: #ffffff;
	background-color: none;
	top: 25%;
	width: 50%;
	text-align: center;
}

.headshot {
	width: 100px;
	border-radius: 50%;
	border:3px #000000 solid;
	
}

/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {
    
}

/* (xs) Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {
	
}

/* (sm) Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	
}

/* (md) Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* (lg) Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
	#sidebar{
		height: 100vh;
	}
	#main-block{
		height: 100vh;
	}
}


